.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
} @media (max-width: 990px) {
    .row {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width: 750px) {
      .row {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media (max-width: 500px) {
        .row {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

.cards {
    background: rgb(255, 255, 255);
    box-shadow: 0 7px 10px rgb(207, 207, 207);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.avatar {
    border-radius: 200px;
    height: 40%;
    width: 43%;
}

.favorite {
    border: 3px solid #C1D72F;
}

.contact-information {
    text-align: center;
}

.full-name {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.email {
    font-size: 12px;
    color: rgb(122, 122, 122);
}

hr {
    width: 150px;
}

.button {
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    border-width: 1px;
    align-items: center;
    cursor: pointer;
}

.button-contact {
    border-color: #C1D72F;
    color:#C1D72F;
    margin-right: 15px;
}

.button-favorite {
    border-color: #CF6679;
    color:#CF6679;
}

.add-favorite {
    height: 20px;
}